@page "/UserAccess/Index"
@inject IUserAccessRepository useraccessRepo
@inject IHttpService http
    <div class="row">
        <div class="col-md-12">
            <div class="card" id="##customers">
                <div class="card-header bg-white">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th> id</th>
                                    <th>Title</th>
                                    <th>Url</th>
                                    <th>Description</th>
                                    <th>IsIndirect</th>
                                    <th>Operation</th>
                                </tr>
                            </thead>
                            @if (users == null)
                            {
                                <p>Loading</p>
                            }
                            else
                            {
                                @foreach (var element in users)
                                {
                        <tr>
                            <td>@element.AccessCode</td>
                            <td>@element.Title</td>
                            <td>@element.Url</td>
                            <td>@element.PageDescription</td>
                            <td>@element.IsIndirect</td>
                            <td>
                                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                                <button class="btn btn-info" data-toggle="modal" data-target="#myModal">Edit</button>
                            </td>
                        </tr>
                                }

                            }
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


                        @code{

                            public List<UserAccessListDto> users;
                            protected override async Task OnInitializedAsync()
                            {

                                try
                                {
                                    users = await useraccessRepo.GetUsersAccess();
                                }
                                catch (Exception e)
                                {
                                    Console.WriteLine(e);
                                    throw;
                                }
                            }





                        }
